
exercise2/cdna.txt
.DS_Store
exercise1/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework2/nbproject/private/private.xml
Homework3/nbproject/private/private.xml
Homework3/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework4/nbproject/private/private.xml
Homework4/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
.DS_Store
Homework3/nbproject/private/private.xml
Homework3/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
.DS_Store
.DS_Store
Homework3/nbproject/private/private.xml
Homework3/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework4/nbproject/configurations.xml
Homework4/nbproject/Makefile-Debug.mk
Homework4/nbproject/Makefile-Release.mk
Homework4/nbproject/private/configurations.xml
Homework4/nbproject/private/private.xml
Homework4/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework1/nbproject/private/private.xml
Homework1/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework3/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework4/nbproject/configurations.xml
Homework4/nbproject/private/configurations.xml
Homework4/nbproject/private/downloads-os1.csi.miamioh.edu-dolljm-22
Homework4/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework4/nbproject/private/configurations.xml
Homework1/nbproject/private/private.xml
Homework1/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework3/nbproject/private/private.xml
Homework4/nbproject/private/private.xml
Homework4/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
*.xml
