
exercise2/cdna.txt
.DS_Store
exercise1/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework2/nbproject/private/private.xml
Homework3/nbproject/private/private.xml
Homework3/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
Homework4/nbproject/private/private.xml
Homework4/nbproject/private/timestamps-os1.csi.miamioh.edu-dolljm-22
.DS_Store
